.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-tab-link {
  padding: 0 16px;
  text-decoration: none;
  color: white;
}

.mat-mdc-tab-link.active-link {
  font-weight: bold;
  border-bottom: 2px solid white;
}
